body {
    margin: 0 0 0 0;
}
.search-form {
    background-color: #5752E0;
    text-align: center;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input {
    height: 30px;
    width: 300px;
    border-radius: 5px 0px 0px 5px;
    border: 0px;
    padding-left: 10px;
}
.search-input:focus {
    outline: none;
}
.icon {
    fill:black;
    width: 24px;
    height: 24px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}
.search-button {
    border-radius: 0px 5px 5px 0px;
    border: 0px;
    height: 32px;
    
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
}

.photo-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.photo-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.info {
    padding: 10px;
    display: flex;
    margin-right: 0px;
}

.info-item {
    margin: 0;
    padding: 5px 0;
    font-size: 12px;
}
.load-more {
    display: none; 
    background-color: #5752E0;
    border: none;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
}
.load-more:hover {
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.btn-container {
display: flex;
justify-content: center;
}
.end-message {
    font-size: 50px;
}